---
import Image from 'astro/components/Image.astro'
import Logo from '../assets/members_icon.svg'
---

<section id="prices" class="left-right-padding up-down-padding border-x border-b border-(--border-color)">
    <div class="flex flex-col gap-6">
        <div class="flex pt-14">
            <div class="prose">
                <h2 class="font-normal">
                    Vallarta tiene mucho que ofrecer. <span class="text-(--secondary-color)">Members te da acceso a lo mejor por un solo precio</span>.
                </h2>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 border border-(--border-color) rounded-(--rounded-button) overflow-hidden divide-y md:divide-y-0 md:divide-x divide-(--border-color) divide-dashed">
            <article class="p-6 text-(--header-color)">
                <div class="flex flex-col gap-3">
                    <div class="px-4 py-2">
                        <p class="font-semibold text-(--header-color) leading-snug">
                            Experiencias exclusivas y descuentos en comercios participantes
                        </p>
                    </div>
                    <ul class="pl-5">
                        <li class="flex items-baseline gap-2">
                            <Image src={Logo} alt="Members Logo" width="20" height="20" draggable="false"  />
                            Beneficios exclusivos en gastronomía, wellness, estilo y escapadas</li>
                        <li class="flex items-baseline gap-2">
                            <Image src={Logo} alt="Members Logo" width="20" height="20" draggable="false" />
                            Nuevos comercios sumándose cada mes</li>
                        <li class="flex items-baseline gap-2">
                            <Image src={Logo} alt="Members Logo" width="20" height="20" draggable="false" />
                            Tarjeta física personalizada</li>
                        <li class="flex items-baseline gap-2">
                            <Image src={Logo} alt="Members Logo" width="20" height="20" draggable="false" />
                            Tarjeta virtual para Apple Wallet y Google Wallet</li>
                    </ul>
                </div>
            </article>
            <article class="p-6 text-(--header-color)">
                <div class="flex flex-col gap-3">
                    <div class="px-4 py-2">
                        <p class="font-semibold text-(--header-color) leading-snug">
                            Contenido editorial exclusivo
                        </p>
                    </div>
                    <ul class="list-disc pl-5">
                        <li class="flex items-baseline gap-2">
                            <Image src={Logo} alt="Members Logo" width="20" height="20" draggable="false" />
                            Edición anticipada de Sea View Magazine</li>
                        <li class="flex items-baseline gap-2">
                            <Image src={Logo} alt="Members Logo" width="20" height="20" draggable="false" />
                            Edición anticipada de Sunwave</li>
                        <li class="flex items-baseline gap-2">
                            <Image src={Logo} alt="Members Logo" width="20" height="20" draggable="false" />
                            Resumen semanal de The Gazzella</li>
                        <li class="flex items-baseline gap-2">
                            <Image src={Logo} alt="Members Logo" width="20" height="20" draggable="false" />
                            Episodio exclusivo de nuestro podcast</li>
                    </ul>
                </div>
            </article>
            <article class="p-6 text-(--header-color)">
                <div class="flex flex-col gap-3">
                    <div class="px-4 py-2">
                        <p class="font-semibold text-(--header-color) leading-snug">
                            Comunidad y acceso especial
                        </p>
                    </div>
                    <ul class="list-disc pl-5">
                        <li class="flex items-baseline gap-2">
                            <Image src={Logo} alt="Members Logo" width="20" height="20" draggable="false" />
                            Acceso prioritario a eventos del grupo editorial</li>
                        <li class="flex items-baseline gap-2">
                            <Image src={Logo} alt="Members Logo" width="20" height="20" draggable="false" />
                            Participa para acceder a los mejores eventos de la ciudad</li>
                        <li class="flex items-baseline gap-2">
                            <Image src={Logo} alt="Members Logo" width="20" height="20" draggable="false" />
                            Participa por accesos a eventos exclusivos</li>
                        <li class="flex items-baseline gap-2">
                            <Image src={Logo} alt="Members Logo" width="20" height="20" draggable="false" />
                            Participa en sorteos y premios mensuales solo para members</li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="flex flex-col sm:flex-row gap-3  justify-evenly items-stretch">
            <a href="https://buy.stripe.com/dRm8wH9eV5aPcmz7Wk1Jm07" class="group relative flex flex-1 flex-col items-center justify-center gap-1 px-6 py-4 transition-colors border border-(--secondary-color) rounded-(--rounded-button)">
                <span class="absolute right-3 top-3 transition-transform duration-200 ease-out group-hover:-translate-y-0.5 group-hover:translate-x-0.5 border border-(--border-color) rounded-(--rounded-button) p-1">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-(--header-color)" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                    </svg>
                </span>
                <span class="text-sm line-through">Antes $179 MXN / MES</span>
                <span class="text-xl font-semibold text-(--header-color)">$149 MXN / MES</span>
                <span class="text-sm">Tarjeta virtual incluida</span>
            </a>
            <a href="https://buy.stripe.com/3cIaEP62JdHl2LZa4s1Jm06" class="group relative flex flex-1 flex-col items-center justify-center gap-1 px-6 py-4 transition-colors bg-(--secondary-color)/30 border border-(--border-color) rounded-(--rounded-button)">
                <span class="absolute right-3 top-3 transition-transform duration-200 ease-out group-hover:-translate-y-0.5 group-hover:translate-x-0.5 border border-(--secondary-color) rounded-(--rounded-button) p-1">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-(--header-color)" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
                    </svg>
                </span>
                <span class="text-sm line-through">Antes $1490 MXN / AÑO</span>
                <span class="text-xl font-semibold text-(--header-color)">1299,00 MXN / AÑO</span>
                <span class="text-sm">Tarjeta física</span>
            </a>
        </div>
    </div>
</section>
