---
import Image from 'astro/components/Image.astro'
import VerticalCard from '../assets/vertical_card.png'
import ToscaPromo from '../assets/promos/tosca_promo.jpg'
import HeraPromo from '../assets/promos/hera_promo.jpg'
import AquaventurasPromo from '../assets/promos/aquaventuras_promo.jpg'
---

<section id="solutions" class=" bg-(--secondary-bg-color) border-y border-(--border-color)">
    <div class="left-right-padding up-down-padding border-x border-(--border-color)">
        <div class="prose max-w-2xl pt-14 pb-10">
            <h2 class="font-normal">
                ¿Estás listo para formar parte de esta comunidad?
                <!-- <span>
                    Haz crecer tu empresa con un conjunto integral de pagos y herramientas financieras diseñadas para trabajar de forma individual o conjunta.
                </span> -->
            </h2>
        </div>
        <div class="group grid grid-cols-1 md:grid-cols-3 gap-4 *:border *:border-(--border-color) *:rounded-(--rounded-button) *:px-5 *:py-4 *:transition-transform *:hover:scale-101 *:ease-in *:*:*:font-normal">
            <!-- <div class="md:col-span-2">
                <div class="flex flex-col gap-3 prose">
                    <h3>Obten una lista de beneficios de nuestros socios</h3>
                    <Image src={HeraPromo} alt="Carta vertical de Members" class="w-96 max-w-80 h-auto mx-auto md:mx-0 md:max-w-none rounded-(--rounded-button) object-contain" />
                </div>
            </div>
            <div>
                <div class="h-full flex flex-col gap-3 prose">
                    <h3>Haz crecer tu cartera con nuestros increibles ahorros y ofertas</h3>
                    <Image src={HeraPromo} alt="Carta vertical de Members" class="flex-1 w-full h-auto mx-auto md:mx-0 md:max-w-none rounded-(--rounded-button) object-cover" />
                </div>
            </div> -->
            <div>
                <div class="h-full flex flex-col gap-3 prose">
                    <h3>Ofertas que llegan a tus necesidades</h3>
                    <Image src={AquaventurasPromo} alt="Carta vertical de Members" class="w-full h-auto mx-auto md:mx-0 md:max-w-none rounded-(--rounded-button) object-contain" />
                </div>
            </div>
            <div>
                <div class="flex flex-col gap-3 prose">
                    <h3>Presume tu tarjeta members</h3>
                    <Image src={VerticalCard} alt="Carta vertical de Members" class="w-full max-w-80 mx-auto md:mx-0 md:max-w-none object-contain" />
                </div>
            </div>
            <div>
                <div class="h-full flex flex-col gap-3 prose">
                    <h3>Accede a ofertas invaluables</h3>
                    <Image src={ToscaPromo} alt="Carta vertical de Members" class="w-full h-auto mx-auto md:mx-0 md:max-w-none rounded-(--rounded-button) object-contain" />
                </div>
            </div>
        </div>
    </div>
</section>
